In [1]:
import pandas as pd
import numpy as np

In [2]:
filename1 = "ks-projects-201612.csv"
df1 = pd.read_csv(filename1, encoding = "ISO-8859-1")

#df = pd.read_excel(filename)

df1.head()

C:\Users\Nisha\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,10/9/2015 11:36,1000,8/11/2015 12:12,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2/26/2013 0:20,45000,1/12/2013 0:20,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,4/16/2012 4:24,5000,3/17/2012 3:24,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,8/29/2015 1:00,19500,7/4/2015 8:35,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,4/1/2016 13:38,50000,2/26/2016 13:38,52375,successful,224,US,52375,NaN,NaN,NaN,NaN

In [3]:
df1.columns

Index(['ID ', 'name ', 'category ', 'main_category ', 'currency ', 'deadline ',
       'goal ', 'launched ', 'pledged ', 'state ', 'backers ', 'country ',
       'usd pledged ', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16'],
      dtype='object')

In [4]:
#take extra whitespace off end of column names
df1.rename(columns=lambda x: x.strip(), inplace=True)

In [5]:
df1[df1['Unnamed: 16'].notnull()]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
269970,677103185,SixSixSeven,Angels,Demons,Religion,Esoteric,Graphic Novels,Comics,USD,10/10/2015 1:00,750,9/10/2015 18:15,25,failed,1,US,25.0

In [6]:
#just to experiment in renaming values
#take value from 'goal' and copy it to 'main_category'
df1.loc[269970, 'main_category'] = df1.loc[269970, 'goal']

In [7]:
#take value from 'currency' and copy it to 'category
df1.iloc[269970, 2] = df1.iloc[269970, 4]

In [8]:
#before w/ manual replacements
df1.iloc[269970]

ID                     677103185
name                SixSixSeven
category               Religion
main_category     Graphic Novels
currency               Religion
deadline                Esoteric
goal              Graphic Novels
launched                  Comics
pledged                      USD
state            10/10/2015 1:00
backers                      750
country          9/10/2015 18:15
usd pledged                   25
Unnamed: 13               failed
Unnamed: 14                    1
Unnamed: 15                   US
Unnamed: 16                   25
Name: 269970, dtype: object

#make a copy of df to play on
df1_copy = df1.copy()

#row_copy = df1.iloc[269970].copy()

In [9]:
#x = row index; y = column index

#move data in 'Unnamed: 16'
def shiftData16(x): 
    n = list(range(17))
    for i in n:
        if (i < 4): pass
        if ((i >=4) & (i < 13)):
            df1.iloc[x, i] = df1.iloc[x, i+4]
        elif (i >= 13) : 
            df1.iloc[x, i] = np.NaN
    return x

In [10]:
#running function on row 269970
shiftData16(269970)

269970

In [11]:
#after
df1.iloc[269970]

ID                     677103185
name                SixSixSeven
category               Religion
main_category     Graphic Novels
currency                     USD
deadline         10/10/2015 1:00
goal                         750
launched         9/10/2015 18:15
pledged                       25
state                     failed
backers                        1
country                       US
usd pledged                   25
Unnamed: 13                  NaN
Unnamed: 14                  NaN
Unnamed: 15                  NaN
Unnamed: 16                  NaN
Name: 269970, dtype: object

In [12]:
df_15 = df1[df1['Unnamed: 15'].notnull()]
df_15

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
104120,1618382802,Druid Hill Park Passport: Discover,Enjoy,Learn,Be active!,Publishing,Publishing,USD,7/28/2012 1:30,9500,6/6/2012 23:54,9854,successful,208,US,9854,NaN
145502,1864561559,T-shirt,dress shirts,pants,clothing company,Apparel,Fashion,USD,8/2/2015 18:23,20000,7/3/2015 18:23,0,failed,0,US,0,NaN
264243,642928449,FRANCIS - The Pope,Buenos Aires,soccer,tango and culture,Film & Video,Film & Video,USD,3/2/2014 23:34,75000,2/5/2014 2:06,0,failed,0,US,0,NaN

In [13]:
#test getting index numbers
df_15_index = df_15.index
df_15_index

Int64Index([104120, 145502, 264243], dtype='int64')

In [14]:
#function to get index numbers

def getIndex(x):
    return x.index

In [15]:
#x = row index; y = column index

#copy data in 'Unnamed: 15' columns 2 spaces to the left (exception: index (0,1) get passed; index (13:16) get NaN)
def shiftData15(x): 
    n = list(range(17))
    for i in n:
        if (i < 2): pass
        if ((i >=2) & (i < 13)):
            df1.iloc[x, i] = df1.iloc[x, i+3]
        elif (i >= 13) : 
            df1.iloc[x, i] = np.NaN
    return x

In [16]:
#Unnamed: 15
for i in getIndex(df_15):
    shiftData15(i)

In [17]:
#now it's empty
df1[df1['Unnamed: 15'].notnull()]

Empty DataFrame
Columns: [ID, name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd pledged, Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16]
Index: []

In [18]:
#test if new values are in place
df15ls = list(getIndex(df_15))

df1.iloc[df15ls]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
104120,1618382802,Druid Hill Park Passport: Discover,Publishing,Publishing,USD,7/28/2012 1:30,9500,6/6/2012 23:54,9854,successful,208,US,9854,NaN,NaN,NaN,NaN
145502,1864561559,T-shirt,Apparel,Fashion,USD,8/2/2015 18:23,20000,7/3/2015 18:23,0,failed,0,US,0,NaN,NaN,NaN,NaN
264243,642928449,FRANCIS - The Pope,Film & Video,Film & Video,USD,3/2/2014 23:34,75000,2/5/2014 2:06,0,failed,0,US,0,NaN,NaN,NaN,NaN

In [19]:
df_14 = df1[df1['Unnamed: 14'].notnull()]
df_14

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
13795,1081139420,The Rolling Stones,BEGGARS BANQUET,50 Years in the Making,Rock,Music,USD,8/12/2011 1:17,4625,6/4/2011 1:17,20,failed,2,US,20,NaN,NaN
16482,1097082409,Pixel art,personalized,Retro Gaming art.,Crafts,Crafts,USD,7/28/2016 21:36,500,6/28/2016 21:36,0,failed,0,US,0,NaN,NaN
61447,1365419849,VIA,ME (V.isual I.nteractive A.rchive,M.ercury E.dition),Software,Technology,USD,3/19/2016 20:40,10000,2/18/2016 21:40,26,failed,2,US,26,NaN,NaN
112934,1670090635,EXCALIBRE:Sword of Truth,Path of Light,Kingdom of Heaven.,Nonfiction,Publishing,USD,4/1/2016 8:00,24000,2/22/2016 21:57,1,failed,1,US,1,NaN,NaN
225692,410977509,Handmade Artisan Soaps: Natural,Gentle,Good for your skin,Crafts,Crafts,USD,10/8/2015 22:08,200,9/8/2015 22:08,435,successful,10,US,435,NaN,NaN
243349,516522480,American Booty,USA-made products Series One,Spirits,Painting,Art,USD,2/2/2013 3:45,1776,1/3/2013 3:45,401,failed,7,US,401,NaN,NaN
275186,708058934,Be Wise,Wear Wisdom,Divine Wisdom,Apparel,Fashion,USD,2/27/2015 13:53,10000,1/28/2015 13:53,1,failed,1,US,1,NaN,NaN
305503,890269949,Community Clothing. Make Clothes,Create Jobs,Restore Pride,Fashion,Fashion,GBP,3/16/2016 16:24,75000,2/15/2016 17:24,88619.2,successful,1020,GB,128535,NaN,NaN

In [20]:
#copied over 2 rows to the left
def shiftData14(x): 
    n = list(range(17))
    for i in n:
        if (i < 2): pass
        if ((i >=2) & (i < 13)):
            df1.iloc[x, i] = df1.iloc[x, i+2]
        elif (i >= 13) : 
            df1.iloc[x, i] = np.NaN
    return x

In [21]:
#Unnamed: 14
for i in getIndex(df_14):
    shiftData14(i)

In [22]:
#test for any values left in Unnamed: 14
df1[df1['Unnamed: 14'].notnull()]

Empty DataFrame
Columns: [ID, name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd pledged, Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16]
Index: []

In [23]:
#test if new values are in place
df14ls = list(getIndex(df_14))

df1.iloc[df14ls]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
13795,1081139420,The Rolling Stones,Rock,Music,USD,8/12/2011 1:17,4625,6/4/2011 1:17,20,failed,2,US,20,NaN,NaN,NaN,NaN
16482,1097082409,Pixel art,Crafts,Crafts,USD,7/28/2016 21:36,500,6/28/2016 21:36,0,failed,0,US,0,NaN,NaN,NaN,NaN
61447,1365419849,VIA,Software,Technology,USD,3/19/2016 20:40,10000,2/18/2016 21:40,26,failed,2,US,26,NaN,NaN,NaN,NaN
112934,1670090635,EXCALIBRE:Sword of Truth,Nonfiction,Publishing,USD,4/1/2016 8:00,24000,2/22/2016 21:57,1,failed,1,US,1,NaN,NaN,NaN,NaN
225692,410977509,Handmade Artisan Soaps: Natural,Crafts,Crafts,USD,10/8/2015 22:08,200,9/8/2015 22:08,435,successful,10,US,435,NaN,NaN,NaN,NaN
243349,516522480,American Booty,Painting,Art,USD,2/2/2013 3:45,1776,1/3/2013 3:45,401,failed,7,US,401,NaN,NaN,NaN,NaN
275186,708058934,Be Wise,Apparel,Fashion,USD,2/27/2015 13:53,10000,1/28/2015 13:53,1,failed,1,US,1,NaN,NaN,NaN,NaN
305503,890269949,Community Clothing. Make Clothes,Fashion,Fashion,GBP,3/16/2016 16:24,75000,2/15/2016 17:24,88619.2,successful,1020,GB,128535,NaN,NaN,NaN,NaN

In [24]:
df_13 = df1[df1['Unnamed: 13'].notnull()]
len(df_13)

613

In [25]:
df_13.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
1454,1008705746,Zephyras new full length,'As The World Collapses',Metal,Music,SEK,2/2/2016 0:56,15000,1/3/2016 0:56,4262,failed,14,SE,504.9476528,NaN,NaN,NaN
1563,1009317190,French Cuisine,A Traditional Experience,Cookbooks,Food,USD,9/8/2014 0:46,13730,8/9/2014 3:16,3984,failed,46,US,3984,NaN,NaN,NaN
1794,1010871699,The Beginners Guide to being Unsuicidal,the one act,Theater,Theater,USD,12/31/2011 23:25,5000,11/21/2011 23:25,525,failed,10,US,525,NaN,NaN,NaN
1931,1011687764,Best OnLine Classifieds,Ever / No More Spam,Web,Technology,USD,9/20/2014 19:56,6300,8/21/2014 19:56,0,failed,0,US,0,NaN,NaN,NaN
2420,101453314,Social Media Ruined My Life,A Short Film from Adam S Curtis,Shorts,Film & Video,USD,3/14/2013 20:11,3000,2/25/2013 21:11,3035,successful,42,US,3035,NaN,NaN,NaN

In [26]:
#copied over 1 row to the left
def shiftData13(x): 
    n = list(range(17))
    for i in n:
        if (i < 2): pass
        if ((i >=2) & (i < 13)):
            df1.iloc[x, i] = df1.iloc[x, i+1]
        elif (i >= 13) : 
            df1.iloc[x, i] = np.NaN
    return x

In [27]:
#Unnamed: 13
for i in getIndex(df_13):
    shiftData13(i)

In [28]:
df1[df1['Unnamed: 13'].notnull()]

Empty DataFrame
Columns: [ID, name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd pledged, Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16]
Index: []

In [29]:
#test if new values are in place
df13ls = list(getIndex(df_13))

df1.iloc[df13ls]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
1454,1008705746,Zephyras new full length,Metal,Music,SEK,2/2/2016 0:56,15000,1/3/2016 0:56,4262,failed,14,SE,504.9476528,NaN,NaN,NaN,NaN
1563,1009317190,French Cuisine,Cookbooks,Food,USD,9/8/2014 0:46,13730,8/9/2014 3:16,3984,failed,46,US,3984,NaN,NaN,NaN,NaN
1794,1010871699,The Beginners Guide to being Unsuicidal,Theater,Theater,USD,12/31/2011 23:25,5000,11/21/2011 23:25,525,failed,10,US,525,NaN,NaN,NaN,NaN
1931,1011687764,Best OnLine Classifieds,Web,Technology,USD,9/20/2014 19:56,6300,8/21/2014 19:56,0,failed,0,US,0,NaN,NaN,NaN,NaN
2420,101453314,Social Media Ruined My Life,Shorts,Film & Video,USD,3/14/2013 20:11,3000,2/25/2013 21:11,3035,successful,42,US,3035,NaN,NaN,NaN,NaN
3079,1018515072,The Secret Lives of Baba Segi's Wives,Plays,Theater,GBP,12/14/2015 1:00,3000,11/15/2015 14:29,3273,successful,46,GB,4986.417987,NaN,NaN,NaN,NaN
4850,1028998661,The Easyhook Driver Bit,Hardware,Technology,USD,9/28/2014 2:22,25000,7/30/2014 2:22,590,failed,35,US,590,NaN,NaN,NaN,NaN
4871,102911383,AVES: Bicycle playing cards,Playing Cards,Games,USD,10/7/2014 18:00,10000,9/1/2014 18:00,23924,successful,780,US,23924,NaN,NaN,NaN,NaN
5049,1030235554,Love's in Need Of Love,World Music,Music,USD,3/13/2013 0:00,12000,2/8/2013 23:58,12306,successful,122,US,12306,NaN,NaN,NaN,NaN
5813,1034539612,Batman Dead End,Film & Video,Film & Video,USD,3/28/2013 15:03,12500,2/26/2013 16:03,13675,successful,213,US,13675,NaN,NaN,NaN,NaN
6586,1038703212,X-Orb,Mobile Games,Games,GBP,7/20/2014 6:09,4500,6/20/2014 6:09,2,failed,2,GB,3.39594898,NaN,NaN,NaN,NaN
7003,1041248261,KittyHawk,Camera Equipment,Technology,USD,8/10/2015 10:52,75000,7/10/2015 10:52,4690,canceled,3,US,4690,NaN,NaN,NaN,NaN
7639,1044922583,Lyrical Strings Duo,Classical Music,Music,USD,2/4/2012 23:14,2500,1/5/2012 23:14,4488.01,successful,126,US,4488.01,NaN,NaN,NaN,NaN
7837,1046161804,Cthulhu Gold & Silver Ingots,Conceptual Art,Art,USD,8/20/2014 0:31,20000,7/21/2014 0:31,687,failed,10,US,687,NaN,NaN,NaN,NaN
9998,1058376015,Finding Normalcy and Love,Nonfiction,Publishing,USD,3/7/2012 2:57,20000,2/6/2012 2:57,450,failed,3,US,450,NaN,NaN,NaN,NaN
10158,1059393119,Iris Bowl: Precision Machined Aluminum,Product Design,Design,USD,7/22/2016 20:45,10000,6/21/2016 20:45,16185,successful,73,US,11719,NaN,NaN,NaN,NaN
11236,1065632207,Major Langlands,Documentary,Film & Video,GBP,12/9/2014 9:26,10000,11/9/2014 9:26,80,failed,2,GB,126.9669968,NaN,NaN,NaN,NaN
11326,10661684,The Ames Project,Documentary,Film & Video,USD,7/27/2012 0:54,6000,6/27/2012 0:54,1495,failed,19,US,1495,NaN,NaN,NaN,NaN
12061,1070559418,'Misconception',Shorts,Film & Video,USD,7/16/2010 1:00,1500,6/16/2010 2:26,20,failed,1,US,20,NaN,NaN,NaN,NaN
12149,1071067313,LEWD,Video Games,Games,USD,6/3/2013 1:09,15000,5/3/2013 1:09,14309.36,failed,142,US,14309.36,NaN,NaN,NaN,NaN
13968,1082145521,Stepping Toward the Lion,Documentary,Film & Video,USD,1/1/2013 22:59,8000,12/2/2012 22:59,8542,successful,140,US,8542,NaN,NaN,NaN,NaN
14446,108507930,Shade Tree Brewing Company,Food,Food,USD,2/3/2012 18:19,15000,12/5/2011 18:19,3363,failed,38,US,3363,NaN,NaN,NaN,NaN
14640,1086338488,Introducing Daniel Criss,Country & Folk,Music,USD,6/8/2012 14:42,4400,5/9/2012 14:42,950,failed,24,US,950,NaN,NaN,NaN,NaN
15017,108863281,Portals to Another World,Mixed Media,Art,USD,6/20/2012 17:18,1700,5/18/2012 17:18,1800.5,successful,60,US,1800.5,NaN,NaN,NaN,NaN
15288,1090187010,The Last Stand,Comic Books,Comics,USD,12/17/2014 14:32,2000,11/17/2014 14:32,352,failed,37,US,352,NaN,NaN,NaN,NaN
15872,1093662806,M-PAKS,Product Design,Design,USD,12/18/2016 0:18,35000,11/18/2016 0:18,1320,canceled,10,US,1320,NaN,NaN,NaN,NaN
15945,1094089138,Bea Arthur's bust,Art,Art,USD,7/11/2015 5:24,13,6/11/2015 5:24,18,successful,3,US,18,NaN,NaN,NaN,NaN
16081,1094752040,GoTo Garden: home gardeners grow it,Food,Food,USD,6/30/2012 1:21,10000,5/31/2012 1:21,2161,failed,29,US,2161,NaN,NaN,NaN,NaN
17177,1101406194,Healing Arte,Classical Music,Music,USD,7/12/2015 17:13,2000,6/13/2015 5:00,331,failed,10,US,331,NaN,NaN,NaN,NaN
17710,1104693057,Two Cities,Places,Photography,USD,4/16/2015 20:04,50,3/7/2015 20:04,0,failed,0,US,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311546,926604832,Affect: Infuse Your Drink,Food,Food,USD,3/10/2014 19:11,42500,2/8/2014 20:11,2867,failed,25,US,2867,NaN,NaN,NaN,NaN
312084,929880656,Nekter Apparel,Apparel,Fashion,USD,2/20/2016 21:08,10000,1/21/2016 21:08,0,failed,0,US,0,NaN,NaN,NaN,NaN
312154,930244233,Seated Beside The Wolf,Fiction,Publishing,USD,9/19/2011 13:10,9850,7/21/2011 13:10,40,failed,1,US,40,NaN,NaN,NaN,NaN
312179,930337808,The Unbroken Line,Narrative Film,Film & Video,USD,8/18/2013 1:00,1000,7/17/2013 1:53,1100,successful,12,US,1100,NaN,NaN,NaN,NaN
314168,942417221,Funny Time,Classical Music,Music,USD,5/14/2015 21:01,15000,4/14/2015 21:01,1520,failed,29,US,1520,NaN,NaN,NaN,NaN
314229,942697158,Grandpa Rock & Roll Fred Lee,Rock,Music,USD,5/10/2013 20:45,500000,4/10/2013 20:45,0,failed,0,US,0,NaN,NaN,NaN,NaN
314546,944429286,London Lore,Mixed Media,Art,GBP,5/25/2013 15:57,10000,4/28/2013 21:06,150,failed,8,GB,232.096824,NaN,NaN,NaN,NaN
314689,94521031,Let It Fly,Shorts,Film & Video,USD,1/14/2011 2:35,10000,12/15/2010 2:35,50,failed,1,US,50,NaN,NaN,NaN,NaN
314790,94573368,Child of Time,Fiction,Publishing,USD,1/17/2015 16:01,5000,12/18/2014 16:01,0,failed,0,US,0,NaN,NaN,NaN,NaN
314929,946554330,A Mental Health Initiative - Trauma,Nonfiction,Publishing,USD,1/5/2016 17:01,10000,12/11/2015 18:15,0,failed,0,US,0,NaN,NaN,NaN,NaN
315045,947343342,Korea's changes over 60 years,Photography,Photography,USD,6/7/2012 19:19,38000,5/8/2012 19:19,135,failed,3,US,135,NaN,NaN,NaN,NaN
315259,948525980,Oceanus -,Video Games,Games,USD,2/23/2014 4:55,40000,1/24/2014 4:55,20,failed,8,US,20,NaN,NaN,NaN,NaN
315385,949216748,Kerrin's first album,Music,Music,USD,5/12/2010 22:15,2000,4/13/2010 0:10,2026,successful,40,US,2026,NaN,NaN,NaN,NaN
315977,952768436,THIS HAS BEEN MY DREAM FOR LIFE,Hip-Hop,Music,USD,11/15/2015 4:12,750,10/16/2015 4:12,0,canceled,0,US,0,NaN,NaN,NaN,NaN
316094,953402698,A Hot Piece of Glass,Sculpture,Art,USD,1/2/2014 22:20,5000,11/20/2013 1:50,290,canceled,3,US,290,NaN,NaN,NaN,NaN
316564,956497576,ECLIPSE 2-seat orbital spacecraft,Space Exploration,Technology,USD,11/27/2014 21:31,13000,10/29/2014 20:31,1577,failed,24,US,1577,NaN,NaN,NaN,NaN
316702,957338579,,Food,Food,USD,1/8/2012 5:14,1875,11/9/2011 5:14,545,failed,13,US,545,NaN,NaN,NaN,NaN
317015,959304168,SKETCH,Mixed Media,Art,USD,3/7/2015 23:19,1000,1/6/2015 23:19,2356,successful,57,US,2356,NaN,NaN,NaN,NaN
319355,97337924,Norah Rendell: Traditional Songs from Canada,Country & Folk,Music,USD,12/4/2014 16:16,8500,10/30/2014 15:16,11050,successful,176,US,11050,NaN,NaN,NaN,NaN
319816,976306688,Building poverty stricken communities,Fashion,Fashion,USD,12/12/2014 19:08,3210,11/12/2014 19:08,0,failed,0,US,0,NaN,NaN,NaN,NaN
319999,977257819,1024x768 {height:127px,Design,Design,CAD,8/10/2014 21:02,16000,7/11/2014 21:02,865,canceled,12,CA,811.8223864,NaN,NaN,NaN,NaN
320631,981100791,A Vodcast on Green Tech and Society,Journalism,Journalism,USD,3/2/2011 15:07,3000,1/31/2011 15:07,160,failed,3,US,160,NaN,NaN,NaN,NaN
321033,983555190,Successful inner-city band program,Kids,Music,USD,10/3/2014 22:26,170000,8/29/2014 22:26,7281.1,failed,91,US,7281.1,NaN,NaN,NaN,NaN
321307,985310209,Summoned Games,Tabletop Games,Games,GBP,10/21/2016 23:08,35000,9/21/2016 23:08,296,failed,7,GB,130.443914,NaN,NaN,NaN,NaN
321365,985600912,SteamGirl Tarot,Illustration,Art,GBP,11/8/2015 20:16,5000,10/9/2015 20:16,0,failed,0,GB,0,NaN,NaN,NaN,NaN
321945,989007729,THROUGH MY EYES,Narrative Film,Film & Video,USD,4/5/2012 2:34,3500,3/6/2012 2:34,10,failed,1,US,10,NaN,NaN,NaN,NaN
322162,990511774,Daniel Hresko's new CD is (almost) ready,Indie Rock,Music,USD,9/6/2011 5:59,400,8/6/2011 15:36,61,failed,4,US,61,NaN,NaN,NaN,NaN
322204,990746749,Feet on the Ground,Film & Video,Film & Video,USD,4/17/2013 16:00,35000,3/18/2013 15:00,179,failed,10,US,179,NaN,NaN,NaN,NaN
323138,996542939,'WANDER' - Apocalyptic Short Film,Shorts,Film & Video,GBP,4/26/2015 17:12,1500,2/25/2015 17:12,2501,successful,50,GB,3861.84447,NaN,NaN,NaN,NaN
323495,99851211,Art/sustainability/spirituality,Photography,Photography,USD,3/5/2013 21:00,2500,2/5/2013 8:09,2634,successful,34,US,2634,NaN,NaN,NaN,NaN

In [30]:
df1.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,10/9/2015 11:36,1000,8/11/2015 12:12,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2/26/2013 0:20,45000,1/12/2013 0:20,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,4/16/2012 4:24,5000,3/17/2012 3:24,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,8/29/2015 1:00,19500,7/4/2015 8:35,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,4/1/2016 13:38,50000,2/26/2016 13:38,52375,successful,224,US,52375,NaN,NaN,NaN,NaN

In [31]:
df1.count()

ID               323750
name             323748
category         323750
main_category    323750
currency         323750
deadline         323750
goal             323750
launched         323750
pledged          323750
state            323750
backers          323750
country          323750
usd pledged      319960
Unnamed: 13           0
Unnamed: 14           0
Unnamed: 15           0
Unnamed: 16           0
dtype: int64

In [32]:
#remove Unnamed columns
to_drop = ['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15','Unnamed: 16']
df1.drop(to_drop, inplace=True, axis=1)
df1.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,10/9/2015 11:36,1000,8/11/2015 12:12,0,failed,0,GB,0
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2/26/2013 0:20,45000,1/12/2013 0:20,220,failed,3,US,220
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,4/16/2012 4:24,5000,3/17/2012 3:24,1,failed,1,US,1
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,8/29/2015 1:00,19500,7/4/2015 8:35,1283,canceled,14,US,1283
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,4/1/2016 13:38,50000,2/26/2016 13:38,52375,successful,224,US,52375

In [33]:
df1.dtypes

ID                int64
name             object
category         object
main_category    object
currency         object
deadline         object
goal             object
launched         object
pledged          object
state            object
backers          object
country          object
usd pledged      object
dtype: object

pd.to_numeric(df1['backers'])
#raised an error
#df1['backers'].astype('int64')

In [34]:
#rows where 'backers' did not convert to numeric
df_back = df1.loc[pd.to_numeric(df1['backers'], errors='coerce').isnull()]

In [35]:
def shiftDataBack(x): 
    n = list(range(13))
    for i in n:
        if (i < 2): pass
        if ((i >=2) & (i < 12)):
            df1.iloc[x, i] = df1.iloc[x, i+1]
        elif (i == 12) : 
            df1.iloc[x, i] = np.NaN
    return x

In [36]:
for i in getIndex(df_back):
    shiftDataBack(i)

In [37]:
df1.loc[pd.to_numeric(df1['backers'], errors='coerce').isnull()]

Empty DataFrame
Columns: [ID, name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd pledged]
Index: []

In [38]:
#test if new values are in place
dfbackls = list(getIndex(df_back))

df1.iloc[dfbackls]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
64484,1383759393,CD: Heartsong Harmonics,Music,Music,USD,11/3/2015 0:59,7085,9/14/2015 23:55,7470,undefined,0,"N,""0",NaN
85619,1508366697,Everyday Beautiful,Film & Video,Film & Video,USD,3/27/2015 1:00,2000,2/25/2015 6:52,0,undefined,0,"N,""0",NaN
98614,1585608231,Hana Zara's new album,Music,Music,USD,3/3/2015 2:04,3000,1/17/2015 2:04,3280,undefined,0,"N,""0",NaN
123506,1733391784,Celebrating Joni Mitchell,Music,Music,CAD,10/11/2015 0:47,5000,9/11/2015 0:47,6323,undefined,0,"N,""0",NaN
159427,194816108,Legal Highs,Film & Video,Film & Video,GBP,11/5/2014 3:00,5000,10/16/2014 3:00,0,undefined,0,"N,""0",NaN
163067,1969863991,Puppy Training Steps,Film & Video,Film & Video,USD,4/24/2015 22:07,5000,3/25/2015 21:07,0,undefined,0,"N,""0",NaN
177636,2057841246,Adventure to Peru's Sacred Valley,Music,Music,USD,3/21/2015 21:13,2200,3/2/2015 22:14,2503,undefined,0,"N,""0",NaN

In [39]:
df1['backers'].astype('int64')

0           0
1           3
2           1
3          14
4         224
5          16
6          40
7          58
8          43
9           0
10        100
11          0
12          0
13         11
14         16
15         20
16          7
17         40
18        624
19         12
20          3
21         66
22        147
23          0
24        571
25         27
26          1
27        549
28         18
29         30
         ...
323720      1
323721     37
323722     42
323723     39
323724    413
323725      0
323726     97
323727     37
323728      5
323729     78
323730      5
323731    103
323732      2
323733      0
323734      0
323735    120
323736     38
323737     31
323738     16
323739      5
323740      0
323741     78
323742     36
323743      1
323744      0
323745      1
323746      5
323747      1
323748      6
323749     17
Name: backers, Length: 323750, dtype: int64

In [40]:
#change goal, pledged, and usd pledged to float values
df1[['goal', 'pledged', 'usd pledged']] = df1[['goal', 'pledged', 'usd pledged']].apply(pd.to_numeric)

In [41]:
df1[['deadline', 'launched']] = df1[['deadline', 'launched']].apply(pd.to_datetime)

In [42]:
#change ID to string type
df1['ID'] = df1['ID'].astype(str)

In [43]:
df1.dtypes

ID                       object
name                     object
category                 object
main_category            object
currency                 object
deadline         datetime64[ns]
goal                    float64
launched         datetime64[ns]
pledged                 float64
state                    object
backers                  object
country                  object
usd pledged             float64
dtype: object

In [44]:
df1.to_csv('ks-projects-201612clean.csv', index=False)

# Things I Tried

#replace main_category value w/ correct value that is incorrectly in the goal column
#chose category 'graphics novels' over "comics" (in Kickstarter, it's Graphic Novels/Comics)
#df1.iloc[269970] = df1.iloc[269970].replace(df1.iloc[269970][3], df1.iloc[269970][6])

#copy "Religion" in 'currency' column to 'category' column
#chose religion as category to encompass angels & demons
#df1.iloc[269970] = df1.iloc[269970].replace(df1.iloc[269970][2], df1.iloc[269970][4])

#shift values in 'pledged' through 'Unnamed:16' columns to 'currency' through 'usd pledged'

#df1.iloc[269970] = df1.iloc[269970].replace(df1.loc[269970][8:18], df1.loc[269970][4:14])
#df1.loc[269970][4:14] = df1.loc[269970][8:18]
#df1.iloc[269970] = df1.iloc[269970][8:18].shift(-4)

#not working, will try later
#df1.apply(shiftData(269970), axis=1) #axis=1: do the function on each column